<div class="row section_heading">
  <h2>About Me</h2>
  <hr>
  <p class="content">I am a graduate student in the <a target="_blank" href="http://www.ri.cmu.edu">Robotics Institute at CMU</a> advised by <a target="_blank" href="http://www.cs.cmu.edu/~hebert/">Dr. Martial Hebert</a></p> and work closely with <a target="_blank" href="https://www.ri.cmu.edu/ri-people/christoph-mertz/">Dr. Christoph Mertz</a> as a part of the Navlab. I am also collaborating with <a target="_blank" href="http://www.cs.cmu.edu/~rsalakhu/">Dr. Ruslan Salakhutdinov</a>.

  <br><br>

  <p class="content"> My ongoing research can be broadly classified into two categories: 1) Learning parsimonious semantic representations of 3D scenes captured as point clouds. Combining the expressive power of deep learning as a function approximator with geometric priors to capture the inherent structure present in the point clouds is a very important step towards full 3D scene understanding. 2) Learning behaviors for robot agents in 3D environments using deep reinforcement learning. I am interested in exploring the emergence of intelligent behavior from raw sensorimotor data and its multi-modal associations with memory, perception and action. </p>

  <br><br>

  <p class="content">Prior to joining CMU, I worked with <a target="_blank" href="https://www.cc.gatech.edu/~dbatra/">Dr. Dhruv Batra</a> and
  <a target="_blank" href="https://www.cc.gatech.edu/~parikh/">Dr. Devi Parikh</a> at <b>Virgina Tech</b>. My work focused at the intersection of computer vision and natural language processing, specifically the task of Visual Question Answering(VQA). Our work on addressing the strong language priors in the VQA dataset was accepted to CVPR 2017. Earlier, I completed my Bachelors in Computer Engineering from University of Mumbai, India. I have been fortunate to have gotten an opportunity to work with fantastic people throughout my academic journey and I hope to continue the same.</p>

  <br><br>

  <div class="col-md-12" align="center">

    <a class="btn btn-social-icon btn-lg btn-github" href="http://github.com/tejaskhot" target="_blank">
      <span class="fa fa-github"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-linkedin" target="_blank" href="https://www.linkedin.com/in/tejaskhot">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-google" target="_blank" href="https://scholar.google.com/citations?user=ybpIloAAAAAJ&hl=en">
      <span class="fa fa-google"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/tjskhot" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-facebook" target="_blank" href="http://facebook.com/tjskhot">
      <span class="fa fa-facebook"></span>
    </a>

  </div>
</div>
