<div class="row section_heading">
  <h2>Highlights and News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">Sept, 2018: Serving as a reviewer for CVPR 2019</li>
      <li class="newsElement">Oct 29, 2018: Won the Philips Sleep Tech Challenge</li>
      <li class="newsElement">July 23, 2018: Our <a href="https://www.cs.cmu.edu/~wyuan1/pcn/">PCN</a> paper has been accepted as an <b>Oral</b> at 3DV 2018</li>
      <li class="newsElement">Sept 11, 2017: Won the Tepper Space Innovation Challenge proposing solutions for the problem of space debris</li>
      <li class="newsElement">Joining <a href="http://www.ri.cmu.edu/">Carnegie Mellon University</a> for Masters in Robotics starting Fall 2017</li>
      <li class="newsElement">May 5, 2017: Presented our work on reducing language priors in VQA at the <a href="https://sites.google.com/site/macv2017penn/">Mid-Atlantic Computer Vision Workshop (MACV)</a></li>
      <li>The <a target="_blank" href="http://www.visualqa.org">VQA v2.0</a> dataset is released. Check out details and browse samples from the dataset on the official site.</li>
      <li class="newsElement">February 27, 2017: Our <a href="http://visualqa.org/">VQA 2.0</a> paper has been accepted at CVPR 2017</li>
      <li>December, 2017: Our workshop proposal for <a target="_blank" href="http://www.visualqa.org/challenge.html">The VQA Challenge 2.0</a> has been accepted at CVPR 2017. I am one of the organizers of the challenge.</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
