  <div class="row section_heading">
    <h2>Publications</h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading">Making the V in VQA Matter: Elevating the Role of Image Understanding in Visual Question Answering</h3>
        <p class="pubd">
          <span class="authors">Yash Goyal<sup>*</sup>, <b>Tejas Khot</b><sup>*</sup>, Douglas Summers-Stay, Dhruv Batra, Devi Parikh</span>
          <br><span class="conf"><a>CVPR 2017 - Poster</a></span>
        </p>

        <p>
          <a href="https://visualqa.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Project Webpage</button></a>
        </p>

        <div class="col-xs-12">
          <a href="https://arxiv.org/abs/1612.00837">
            <img class="thumb" src="/static/img/thumb_vqav2.jpg" width="100%">
          </a>
        </div>
      </div>
    </div>
  </div>
